<script src="./../../node_modules/x-tag/dist/x-tag-core.js"></script>
<link rel="import" href="./../behaviours/input-autocomplete-element-base-behaviour.html">

<template id="autocomplete-template">

    <div class="<%= errorClass %>">
        <div class="dropdown">
            <label for="<%= field %>"><%= label %></label>

            <% if ( disabled ) { %>

            <input class="form-control" type="text"
                id="<%= field %>" 
                name="<%= field %>" 
                value="<%= value %>"
                placeholder="<%= placeholder %>"
                disabled/>

            <% }  else { %>

            <input class="form-control" type="text"
                id="<%= field %>" 
                name="<%= field %>" 
                value="<%= value %>"
                placeholder="<%= placeholder %>"/>

            <% }  %>

            <ul class="dropdown-menu" style="width: 100%"></ul>
        </div>
        <span class="help-block"><%= error %></span>
    </div>
</template>

<script>
(function(window, document) {
    var thatDoc = document;
    var thisDoc = document._currentScript.ownerDocument;
    var templateHtml =thisDoc.querySelector('#autocomplete-template').innerHTML;
    var autocompleteTemplate = _.unescape(templateHtml);
    var RenderTemplate = _.template(autocompleteTemplate);

    var baseObject = {
        lifecycle: {
            created: function() {
                this.render();
            },
            inserted: function() {
                this.fetchData();
            },            
            attributeChanged: function(attributeName, oldValue, newValue) {
                if (attributeName == "value") {
                    this.getInput().value = newValue;
                } else {
                    this.render();
                }
                if (this.optionData) {
                    this.renderData(this.optionData);
                }
            }
        },
        methods: {
            render: function () {
                var data = {
                    errorClass: this.errorClass,
                    placeholder: this.placeholder || '',
                    disabled: this.disabled === true,
                    error: this.error || '',
                    field: this.field || '',
                    label: this.label || '',
                    value: this.value || '',
                };
                var html = RenderTemplate(data);
                this.getRenderingRoot().innerHTML = html;
            }                     
        },
        events: {
            keyup: function () {
                this.value = this.getInput().value;
                this.fetchData();
            }
        }
    };

    var protoTag = xBootstrap.extend(baseObject).from(xBootstrap.getInputAutocompleteElementBase());
    xtag.register('input-autocomplete', protoTag);
})(window, document);
</script>



<link rel="import" href="./dropdown-option.html">